*{box-sizing: border-box;}

body {
    margin: 0;
    background-color: #f5f5f5;
}

#root {
    width: 100vw;
}

.movies {
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
    width: 80%;
    margin:auto;
    margin-top: 4rem;
}

.movie {
    width: 40%;
    border-radius: 5px;
    box-shadow: 0 13px 27px -5px rgba(50,50,93,.25),
    0 8px 16px -8px rgba(0,0,0,.3), 0 -6px 16px -6px rgba(0,0,0,.025);
    padding: 2rem;
    margin-bottom: 3rem;
}

.yearNrating {
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
}

.movie__rating {
    margin-right: 5%;
}

.movie__img {
    max-width: 100%;
}

.movie__title {
    font-size: 2rem;
}

.movie__summary {
    font-size: 1.4rem;
}

.summary100 {
    display: none;
}

@media (max-width:900px) {
    html {
        font-size: 12px;
    }

    .movies {
        width: 95%;
    }

    .movie {
        width: 47%;
    }
}

@media (max-width:700px) {
    html {
        font-size: 10px;
    }

    .summary200 {
        display: none;
    }

    .summary100 {
        display: block;
    }
}

@media (max-width:450px) {
    html {
        font-size: 8px;
    }
}